/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-hebo-logo-slider.slider{
	width: auto;
	margin: 30px 30px 50px;

	.logo-item {
		padding:15px 30px;
	}


	img {
		height:80px;
		width: auto;

	}
	.slick-slide {
			padding: 40px 0;
	}
}

.slick-prev:before,
.slick-next:before {
	color: black;
}
